<div style="margin: 1% 0% 1% 0%;">
    <button pButton type="button" icon="pi pi-check" iconPos="left" label='New Forum' title="สร้างฟอรัม" (click)='newForum()'></button>
</div>


<div class="p-grid">
    <div *ngIf='forums?.length' class="p-col-12 p-xl-12 p-lg-12 p-md-12 p-sm-12">
        <p-table [value]='forums' [paginator]='true' [rows]='10' styleClass="p-datatable-responsive-demo">
            <ng-template pTemplate='header' let-columns>
                <tr>
                    <th title="กระทำ">Action</th>
                    <th title="ลำดับ">No#</th>
                    <th>Subject</th>
                    <th>Description</th>
                    <th pSortableColumn="update_time">UpdateOn
                        <p-sortIcon field="update_time"></p-sortIcon>
                    </th>
                    <th>Category</th>

                    <!-- <th *ngFor="let col of columns">
                        {{col.header}}
                    </th> -->
                </tr>
            </ng-template>
            <ng-template pTemplate='body' let-rowIndex="rowIndex" let-forum>
                <tr>
                    <td>
                        <button pButton type="button" icon="pi pi-pencil" pripple class="p-button-rounded p-button-secondary p-ripple p-button p-component p-button-icon-only" iconPos="left" (click)='edit(forum.doc)'></button> &nbsp;
                        <button pButton type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-ripple p-button p-component p-button-icon-only" iconPos="left" (click)='delete(forum.doc)'></button>
                    </td>
                    <td>{{rowIndex + 1}}</td>
                    <td>{{forum.subject}}</td>
                    <td>{{forum.description}}</td>
                    <td>{{forum.update_time.toDate() | date: updateTimeDateFormat}}</td>
                    <td>{{forum.category_id}}</td>

                    <!-- <td *ngFor="let col of columns">
                        {{rowData[col.field]}}
                    </td> -->
                </tr>
            </ng-template>
        </p-table>
    </div>

    <!-- <div *ngIf='!forums' class="p-col p-text-center">
        <h2>Loading..</h2>
    </div> -->
</div>